.projectCard {
  transform: translateX(100vw);
  display: flex;
  flex-direction: column;
  border-radius: 1em 0 1em 0;
  background-color: var(--black);
  color: var(--white);
  text-align: left;
  animation: slideIn 400ms;
  animation-fill-mode: forwards;
  transition: all ease-in-out 0.3s;
}

.projectCard:hover {
  filter: brightness(1.3);
}

@keyframes slideIn {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0px);
  }
}

.projectCard__image {
  background-color: var(--button-hover-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1em 0 1em 0;
  overflow: hidden;
}

.projectCard__image-image {
  max-width: 100%;
}

.projectCard__info {
  font-size: 0.8em;
  display: flex;
  gap: 1em;
  padding: 1em;
  flex-direction: column;
  min-height: 10em;
}

.groupProjectButton {
  font-size: 2em;
  margin: auto;
  background-color: var(--button-hover-color) !important;
}
