.messageContainer {
  // border: 3px solid r;
  display: flex;
  flex-direction: column;
  max-height: 40em;
  max-width: 40em;
  margin: 5em auto;
  background-color: var(--bg);
  overflow: hidden;
}

.messagesDiv {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  gap: 1em;
}

.singleMessage {
  max-width: 75%;
  overflow-wrap: break-word;
}