.landingPage {
  text-align: center;
  // margin: 0 0;
  overflow: hidden;
  color: var(--title-text);
}

.landingPage__title {
  color: var(--title-text);
  margin: 3em;
  font-size: 2em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  position: relative;
  transition: all ease-in-out 300ms;
}

.landingPage__title::after {
  --title-underline-width: 16ch;
  position: absolute;
  content: "";
  width: var(--title-underline-width);
  height: 2px;
  background: var(--title-color);
  bottom: 0;
  left: calc((50% - (var(--title-underline-width) / 2)));
  transition: all ease-in-out 300ms;
}

.img-dice_div {
  min-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  p {
    color: var(--black);
    text-align: center;
    margin-right: 5em;
  }
}

.img-dice_inner_div {
  height: 25em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.img-dice_div--button {
  align-self: center;
  margin-right: 3em;
}

.img-dice-enter {
  position: absolute;
  transform: translateY(300%);
}

.img-dice-enter-active {
  transition: all var(--speed) ease;
}

.img-dice-exit {
  position: absolute;
}

.img-dice-exit-active {
  transform: translateY(300%);
  transition: all var(--speed) ease;
}

.more_info {
  p {
    margin-top: 4em;
    font-weight: 800;
  }
}

.bio_title {
  margin-bottom: 1em;
}

.styled_title {
  text-align: end;
  font-size: 2em;
  margin-bottom: 1.5em;
  font-weight: bolder;
  color: var(--button-hover-color);
  position: relative;
}

.styled_title::after {
  position: absolute;
  display: block;
  content: "";
  bottom: -0.9em;
  left: 0;
  right: 0;
  border-bottom: 0.6em solid var(--button-hover-color);
}

.styled_title::before {
  position: absolute;
  right: 0;
  bottom: -0.3em;
  left: 0;
  display: block;
  margin-bottom: 0.15em;
  content: "";
  border-bottom: 0.15em solid var(--button-hover-color);
}

.styled_sub_title {
  color: var(--button-hover-color);
  position: relative;
  margin: 1em auto;
}

.styled_sub_title::after {
  position: absolute;
  display: block;
  content: "";
  bottom: -0.3em;
  left: 0;
  right: 0.2em;
  border-bottom: 0.2em solid var(--button-hover-color);
}

.bio_div-stats {
  text-align: left;
  margin: 7em auto;
  max-width: min(90vw, 40em);

  p {
    margin-bottom: 0.9em;
    font-weight: 1000;
    line-height: 2em;
  }

  b {
    color: var(--button-hover-color);
    position: relative;
    margin-bottom: 5em;
  }

  b::after {
    position: absolute;
    display: block;
    content: "";
    bottom: -0.3em;
    left: 0;
    right: 0.2em;
    border-bottom: 0.2em solid var(--button-hover-color);
  }

  li {
    margin-left: 2.5em;
    margin-top: 0.7em;
  }
}

.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90em;
  gap: 5em;
  margin: auto;
  padding: 3em 1em;
  color: var(--showcase-color);
}

.showcase__title {
  margin: 2em auto;
  max-width: min(90vw, 40em);
}

.showcase__grid {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five";
  padding-block: 2rem;
  width: min(95%, 50rem);
  margin-inline: auto;
  color: var(--showcase-color);
}

.showcase__grid-item {
  border-radius: 0.5em;
  transition: all ease-in-out 300ms;
  padding: 0.5em;

  h3 {
    color: var(--button-hover-color);
    position: relative;
    margin-bottom: 1em;
  }

  h3::after {
    position: absolute;
    display: block;
    content: "";
    bottom: -0.3em;
    left: 0;
    right: 0.2em;
    border-bottom: 0.2em solid var(--button-hover-color);
  }

  li,
  p {
    font-weight: 800;
  }
}

.showcase__grid-item li {
  text-align: left;
}

.showcase__grid-item:hover {
  box-shadow: 0.5em 0.4em 0.4em var(--black);
}

.showcase__grid-item:nth-child(1) {
  grid-area: one;
}
.showcase__grid-item:nth-child(2) {
  grid-area: two;
}
.showcase__grid-item:nth-child(3) {
  grid-area: three;
}
.showcase__grid-item:nth-child(4) {
  grid-area: four;
}
.showcase__grid-item:nth-child(5) {
  grid-area: five;
}

.showcase__image {
  max-width: 100%;
}

.showcase__title-lists {
  display: flex;
  justify-content: center;
}

.caleb_card_container {
  background-color: var(--user-card-background);
  width: 100%;
  display: flex;
  margin: 2em 0;
  align-items: center;
  justify-content: center;
}

.caleb_card {
  max-width: 85em;
  display: flex;
  flex-direction: column;
  padding: 2em;
  justify-content: center;
  align-items: center;
  gap: 2em;
  overflow: hidden;

  .caleb_card-profile-image {
    max-width: 20em;
    mix-blend-mode: darken;
    border-radius: 1em;
  }

  .diceDiv {
    max-width: 20em;
    height: 20em;
  }

  .caleb_card__text {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: space-between;
    text-align: left;
    padding: 1em;
    .caleb_card__text-title {
      padding-bottom: 1em;
      color: var(--red);
    }
    .caleb_card__text-body {
      color: var(--black);
    }
  }
}

.diceDiv,
.caleb_card-profile-image {
  transition: all ease-in-out 300ms;
}

.diceDiv:hover,
.caleb_card-profile-image:hover {
  cursor: pointer;
  filter: brightness(0.7);
}

.myLinks {
  margin-top: 1em;
  font-size: 2em;
  p {
    text-align: end;
    font-size: 0.5em;
    margin-right: 1em;
    color: var(--black);
  }
  width: fit-content;
}

.showcase__link {
  color: var(--showcase-color);
  font-size: 1.2em;
}

.showcase__link:hover {
  text-decoration: underline;
}

.topLeft {
  position: fixed;
  z-index: 10;
}

.bottomButton {
  width: fit-content;
  margin: auto;
  padding-top: 1em;
}

.buttonGroup {
  display: flex;
  margin: 0;
  padding: 0;
  z-index: 10;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.3em;
  width: fit-content;
}

.landingPage__grid {
  max-width: 85em;
  display: grid;
  gap: 1em;
  margin: 0 1em;
}

.messageShrewdness__div {
  max-width: 95vw;
  overflow-wrap: break-word;
  p {
    max-width: 40em;
    margin: 1em auto;
    font-weight: 800;
  }
}

@media screen and (min-width: 85em) {
  .landingPage__grid {
    margin: auto;
  }

  .showcase__grid {
    transform-style: preserve-3d;
    transform: perspective(50em) rotateY(15deg) translateX(1.5em);
  }

  .showcase__grid-item:hover {
    transform: translateX(-0.4em) translateY(-0.4em);
  }

  .showcase {
    flex-direction: row;
    gap: 0;
  }

  .messageContainer {
    max-height: 50em;
  }

  .reverseFlex {
    flex-direction: row-reverse;
  }

  .reverseGrid {
    transform-style: preserve-3d;
    transform: perspective(50em) rotateY(-15deg) translateX(-1em);
  }
}

@media screen and (min-width: 50em) {
  
.topLeft {
  top: 1em;
  left: 1em;
}
  
  .showcase__grid {
    grid-template-areas:
      "one two three"
      "four four four"
      "five five five";
  }

  .caleb_card {
    flex-direction: row;
  }

  .pokemonCard {
    flex-direction: row;
    min-width: 35em;
  }

  .pokemonCard__info {
    padding: 1em;
    text-align: center;
  }

  .pokemonCard__image {
    max-width: 20em;
    min-width: 20em;
  }

  .landingPage__grid {
    grid-template-columns: repeat(auto-fit, minmax(35em, 1fr));
    padding: 5em 0;
  }

  .messageContainer {
    max-height: 45em;
  }

  .showcase__image-div {
    max-width: 60%;
  }
}

.styled_button {
  position: relative;
  box-sizing: border-box;
  font-weight: bold;
  color: var(--title-text);
  background: none;
  border: none;
  box-shadow: none;
  padding: 1rem;
  transition-delay: 200ms;
  overflow: hidden;
  transition: color 300ms ease-in-out;
  z-index: 1;
}

.styled_button::before {
  content: "";
  border-collapse: collapse;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: var(--title-text);

  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.styled_button:hover {
  color: var(--button-hover-color);
}

.styled_button:hover::before {
  transform: scaleX(1);
}

.spotify_title {
  color: var(--title-text);
  padding: 2em;
}

.more_info {
  color: var(--title-text);
  padding: 2em;
  max-width: 85em;
  margin: auto;
}
